<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>SBA Express App</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet", href="./public/css/style.css">
<body style="margin:20px">

<!--<img src="img_la.jpg" alt="LA" style="width:100%">-->

<div class="divone">
 <h1 style="color:green;">A Simple EXpress Application</h1>
 <p>Learning to use node.js and Express alongside the packages that come with it.</p>


 <form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="firstname"  value="Enter first name"><br> <!--Credits w3schools-->
  <label for="lastname">Last name:</label><br>
  <input type="text" id="lastname"  value="Enter last name"><br><br>
  <input type="submit" value="Submit">
</form> 

</div>

</body>
</html>

